<li class="list-group-item pt-3 pb-2">
    <div class="float-end ms-2 justify-content-right">
        {{ with .Params.paper_url }}<span class="badge text-bg-secondary ms-1 mb-1"><a class="text-muted" href="{{ . }}">{{ partial "icon" "pdf" }}</a></span>{{ end }}
        {{ with .Params.status }}<span class="badge {{ if eq . "Published"}}text-bg-success{{ else }}text-bg-warning{{end }} ms-1 mb-1 text-muted">{{ . }}</span>{{ end }}
    </div>
    <h5><a class="stretched-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ delimit .Params.authors ", " ", and " | markdownify }}</h6>
</li>